<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <!DOCTYPE html>
        <html>
          <head>
            <link rel='stylesheet' href='/stylesheets/style.css' />
          </head>
          <body>
                <nav>
                        <div class="nav-wrapper">
                          <a href="/" class="brand-logo right">Lab4</a>
                          <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a href="/krupa">Krupa</a></li>
                            <li><a href="/jitendra">Jitendra</a></li>
                            <li><a href="/parul">Parul</a></li>
                            <li><a href="/keisi">Keisi</a></li>
                          </ul>
                        </div>
                      </nav>
                            